<div id="footHeaders" class="ffMedium">
    <div class="col-md-4 text-left"><span>Autor</span></div>
    <div class="col-md-4 text-center"><span>Partnerzy</span></div>
    <div class="col-md-4 text-right"><span>Obserwuj nas na</span></div>
</div>
<div class="clearfix"></div>
<div id="footData">             
    <div id="contactInfo" class="col-md-4">
        <address>
            <a href="http://siecobywatelska.pl">Sieć obywatelska - Watchdog Polska</a><br>
            <a class="fooBar" href="http://www.google.com/recaptcha/mailhide/d?k=019SfyeYoOBXz-HBQPiC1dMw==&c=7t4uleBGHACWoT6pq8zcubkAl0UxUqb94jcrqtFq5N0="><span>biuro</span></a><br>
            +48 22 844 73 55
        </address>
    </div>
    
    <div class="col-md-4">
        {{config.FOOTER_TEXT | safe}}
    </div>
    
    <div id="footSocialMedia" class="col-md-4 text-right">
        <a href="http://facebook.com/SiecObywatelskaWatchdogPolska"><i class="fa fa-facebook-official"></i></a>
        <a href="http://twitter.com/SiecObywatelska"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UC1d-Dkxrw5O9unN5FkB7inw"><i class="fa fa-youtube"></i></a>
        {# <a href="#"><i class="fa fa-rss"></i></a> #}
    </div>
</div>

<div class="clearfix"></div>

<div id="footBottom">
    <div id="footBottomHR"></div>
    
    <nav id="footBottomLinks">
        <ul>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='privacy/' %}">Polityka prywatności</a></li>
            <li><a href="{% url 'django.contrib.flatpages.views.flatpage' url='law/' %}">Opracowanie prawne</a></li>
        </ul>
    </nav>
    
    <div id="license">
        Materiały na stronie opublikowane są na licencji <a href="https://creativecommons.org/licenses/by-sa/3.0/pl/" title="Treść licencji CC BY-SA 3.0 PL">CC BY-SA 3.0 PL</a>
        <div><i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-sa"></i></div>
    </div>
</div>
<div class="clearfix"></div>
