@import 'variables';
@import 'bootstrap';
@import 'grid';
@import 'freature';

body {
    font:18px ClioRegular;
    background:white;
    text-shadow: rgba(0,0,0,0.2) 0 0 1px;
}


a {
    color:$brand-primary;
}

a:hover,a:visited,a:active {
    color:$brand-primary;
}

.ffMedium {
    font-family:ClioMedium-Medium;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.header-top{
    @include clearfix;
}
header img {
    margin:20px;
}

#mainMenu {
    float: left;
    font-family: "GloberRegular","helvetica",sans-serif;
    margin-bottom: 40px;
    width: 100%;
}

#mainMenu ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    font-size: 20px;
    line-height: 3;
    padding: 0;
    justify-content: space-between;
}
#mainMenu li{
    width: 100%;
    width: percentage(1/2);
    @media only screen and (min-width: $screen-md){
        width: percentage(1/3);
    }
    @media only screen and (min-width: $screen-lg){
        width: auto;
    }
}
#mainMenu a {
    display:block;
    color: #d72626;
    padding:0 10px;
    @media only screen and (min-width: $screen-md){
        padding:0 45px;
    }
}
#mainMenu a.active {
    color: black;
}

a.support-button{
    top: 0; right: 0;
    display: block;
    background: #D72626;
    color: #fff;
    text-transform:uppercase;
    margin: 20px 0;
    padding:0 10px;
    font:18px "GloberSemibold","GloberRegular",Helvetica,Arial,sans-serif;
    line-height: 60px;
    transition: .2s background-color;
    z-index: 99;
    outline: 1px solid rgba(white, 0.2);
    @media only screen and (min-width: $screen-md){
        position: fixed;
        padding:0 45px;
        line-height: 60px;
    }
}

.support-button:hover{
    background: #E84343;
    text-decoration: none;
}


.block {
    margin:{
        top: 15px;
        right: 20px;
        bottom: 70px;
        left: 15px;
    }
    position:relative;
}

.block:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:0;
    height:0;
    border-style:solid;
    border-width:40px 0 0 40px;
    border-color:white #fff transparent transparent;
}

.blockContent {
    padding:{
        top: 30px;
        right: 50px;
        bottom: 50px;
        left: 50px;
    };
    font-size:18px;
}
.blockImage {
    margin: 10px -50px;
    width: calc(100% + 100px);
}

.block h2 {
    font-size: 35px;
    font-family: "GloberSemibold","GloberRegular",Helvetica,Arial,sans-serif;
}

.redBlock {
    background:$brand-primary;
    color:#fff;
    h1, h2, h3, h4, h5, h5 {
        color: white;
    }
}

.blackBlock {
    background:#4d4d4d;
    color:#fff;
    h1, h2, h3, h4, h5, h5 {
        color: white;
    }
}

.grayBlock {
    background:#F0F0F0;
}

.redBlock a,.blackBlock a {
    color:#fff;
    border-bottom:1px dotted #fff;
}

.redBlock a:hover,.blackBlock a:hover {
    text-decoration:none;
    border-bottom:1px solid #fff;
}

.redBlock:after {
    border-left-color:#7a1a1a;
}

.blackBlock:after {
    border-left-color:gray;
}

.grayBlock:after {
    border-left-color:gray;
}


#mainForm button,#contactForm button {
    font-weight:700;
    background:#444;
    color:#fff;
    margin:0 auto;
    width:50%;
}

#mainForm button:hover,#contactForm button:hover {
    background:#565656;
}

form .asteriskField {
    font-weight:400;
    padding-left:3px;
}

#signFormBlock h3 {
    margin:15px 0;
}

footer {
    padding:20px 5px;
    margin: 0 -15px;
}
.footTop{
    padding: 15px;
}
.footHeader {
    font-size:22px;
    border-bottom:1px dotted #bbb;
    line-height:2em;
}


#footBottomHR {
    border-top:1px solid #bbb;
    width:40%;
    height:10px;
    margin:0 auto;
}

#footSocialMedia a {
    font-size:35px;
    padding:13px;
}

#footBottom {
    font-size:15px;
    padding:30px 15px 0;
}

#footBottomLinks {
    float:left;
    padding-left:15px;
}

#footBottomLinks li:before {
    content:"\f0c8";
    margin:0 5px 0 -15px;
    color:$brand-primary;
    vertical-align:middle;
    font:4px FontAwesome;
}

#license {
    float:right;
    text-align:right;
}

#license div {
    line-height:2em;
    font-size:25px;
}

#license div i {
    padding:4px;
}

#authorInfo {
    font-size:13px;
    text-align:center;
    margin:10px 0;
}

#authorInfo span {
    color:#aaa;
}


#voteBlock h2 {
    margin:0;
    font-size:30px;
    text-align:center;
}

#voteCount {
    text-align:center;
    font-weight:700;
    font-size:60px;
}

#pagination {
    text-align:center;
    font-size:14px;
}

#pagination a {
    display:inline-block;
    background:$brand-primary;
    width:30px;
    color:#fff;
    margin:2px;
    line-height:2em;
}

#pagination .pageActive,#pagination a:hover {
    background:#fff;
    width:30px;
    color:$brand-primary;
    border:1px solid $brand-primary;
    text-decoration:none;
}

#contactForm textarea {
    height:300px;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #F5FF50;
}

.text-two-column{
    column-count: 2;
}
@media screen and (min-width: $screen-sm-min) {
    .text-two-column-sm{
        column-count: 2;
    }
}
@media screen and (min-width: $screen-md-min) {
    .text-two-column-md{
        column-count: 2;
    }
}
@media screen and (min-width: $screen-lg-min) {
    .text-two-column-lg{
        column-count: 2;
    }
}


ul.list-dotted-brand{
    list-style: none;
    > li{
        position: relative;
        padding-left: 20px;
        &:before{
            content: '';
            position: absolute;
            top: .3em;
            left: 0;
            display: block;
            width: .5em;
            height: .5em;
            background: $brand-primary;
            border-radius: 50%;
        }
    }
}


.contact-field{
    display: table;
}
.contact-field-cell{
    display: table-cell;
    word-break: break-all;
}

p{
    margin-bottom: 30px;
}

.twitter-share-button[style] { vertical-align: text-bottom !important; }

.roksanaBox { background-color: #d9d9d9; }

li.nostyle {
    list-style-type: none;
}
.footer-law{
    font-size: 13px;
    p{
    	margin-bottom: 10px;
    }
}

.icon-facebook, .icon-twitter{
   font-size: 1.5em;
}
.icon-facebook{
    color: #3b5998
}
.icon-twitter{
    color: #55acee;
}


.people-picture{
    border: 7px solid white;
    border-radius: 50%;
    height: auto;
    margin: 0 auto;
    max-width: 90%;
    width: 200px;
    display: block;
}
